---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% if page.nav_enabled == true %}
    {% include components/sidebar.html %}
  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% endif %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}


        {% if
          site.gh_edit_link and
          site.gh_edit_link_text and
          site.gh_edit_repository and
          site.gh_edit_branch and
          site.gh_edit_view_mode
        %}

{% comment %} Remove the last segment {% endcomment %}

{% comment %} Split the path into segments {% endcomment %}
{% assign current_path = site.gh_edit_repository | append: "/new/" | append: site.gh_edit_branch | append: "/"  | append: page.path %}
{% assign path_segments = current_path | split: "/" %}
{% assign path_segments_size = path_segments | size %}
{% assign path_segments_without_last = path_segments | reverse | shift | reverse | join: "/" %}
{% assign prefill_content = "---
layout: default
title: A new page
parent: " | append: parent_segment | append: "
---

# Main Title

To add a Table Of Contents, add this literally (keep the 1. TOC)
1. TOC
{:toc}

## Second Title
Add this for this title to not be included in the toc
{: .no_toc }" | url_encode %}

{% assign file_name = "new_file.md" | url_encode %}
{% assign add_file_url = path_segments_without_last | append: "?filename=" | append: file_name | append: "&value=" | append: prefill_content %}


            <a style="font-size: 12px;" href="{{ add_file_url }}" target="_blank">➕ Add a new page here</a>
  {% endif %}


        {% if
          site.gh_edit_link and
          site.gh_edit_link_text and
          site.gh_edit_repository and
          site.gh_edit_branch and
          site.gh_edit_view_mode
        %}
            <a style="font-size: 12px;" href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
        {% endif %}


      <div id="main-content" class="main-content">
        <main>
                {% if page.author %}
<p>Author: {{ page.author }}</p>
{% endif %}
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

          {% if page.has_toc != false %}
            {% include components/children_nav.html %}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
